<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><% if current_page.data.title %><%= current_page.data.title %> - <% end %><%= data.site.title %></title>
        <meta name="author" content="<%= data.site.author %>">
  <meta name="description" content="<%= data.site.description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="canonical" href="<%= data.site.url %>">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

        <%= feed_tag :atom, "/atom.xml", title: data.site.title %>

        <link href='//fonts.googleapis.com/css?family=Oswald|Lora|Source+Code+Pro' rel='stylesheet' type='text/css'>

        <%= stylesheet_link_tag 'main' %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->